<ul>
  <li style="background-color: #DCDCDC;"><div class="listheader">Backlog Stories</div></li>
    <% @stories.backlog.each do |story| %>
      <% if story.value == 8 %>
        <% initial = 'G' %>
      <% elsif story.value == 4 %>
        <% initial = 'P' %>
      <% elsif story.value == 2 %>
        <% initial = 'T' %>
      <% elsif story.value == 20 %>
        <% initial = 'K' %>
      <% else %>
        <% initial = '?' %>
      <% end %>
      <li class="hoveritem" data-story-id="<%= story.id %>"><div class="itemstyle"><span class="pointVal"><%= initial %></span><%= link_to story.title, story_path(story) %><span style="float: right; padding-right: 5px"><a data-method="get" href="/stories/<%=story.id%>/edit" class="glyphicon glyphicon-edit"></a></span></div>
        <div class="hoverview">
          <div class="statusbutton">
            
          </div>    
        </div>
      </li>
    <% end %>
  </ul>