/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap/bootstrap
 *= require jquery.ui.all
 */


/*Tabs*/

ul.nav {
	display: -webkit-box;
}

.myTab a, .myTab a:visited {
	color: black;
}
.active{
	background: #7abcff;
}
/*modal form fields and text*/
.container {
	font-family: HelveticaNeue-light !important;
}

.wantfield { display: inline !important; width: 400px !important;}
.becausefield { display: inline !important; width: 525px !important;}
.titlefield { width: 200px !important;}
.audience {display: inline !important; width: 100px !important;}
.status{
	margin-left: 30px;
}
.statuslabel{
	margin-left: 158px;
}
.estimate { margin-left: 51px;}

span { 
	font-weight: bold;
	font-family: HelveticaNeue-light;}

/*Items list - FULL VIEW*/

.items {
	width: 300px; 
	min-height: 700px; 
	margin-right: 2px;
/*	border: solid 1px rgba(23,23,22,.3); */
	/*-moz-border-radius: 7px;
	border-radius: 7px; */
/*	background-color: rgba(163, 163, 160, .2);*/
	float: left;
	font-family: HelveticaNeue-light !important;
	}

.items ul {padding-left: 1px;}
.items a, .items a:hover, .items a:visited { 
	color: black;
}
.items a:hover {
	background-color: rgba(7,125,242, .0)
}

span a:hover {
	text-decoration: none;
}

.itemstyle {
	padding-top: 3px;
}

.estimatebutton {
	z-index: 50;
	position: fixed;
	margin-top: -43px;
	margin-left: -50px;
}
.story_numbers {
	padding-left: 5px; 
	font-weight: normal; 
	font-size: 9px;
	color: green;
}

.header{
	background-color: #3da8e3 !important;

}

.listheader {
	padding-left: 5px;
	padding-top: 3px;
	/*font-weight: bold;*/
	color: white;
	font-family: HelveticaNeue-light;
}
.list-items li {
	list-style: none; 
	background-color: rgba(236, 240, 241,1.0);
	margin-left: -1px;
	/*-moz-border-radius: 7px;
	border-radius: 7px;  */
	border-bottom: solid 1px #DCDCDC;
	height: 25px;
	font-family: HelveticaNeue-light;
	font-size: 16px;
	}

.pointVal { 
	margin-right: 8px;
	padding-left: 5px;
	margin-left: 4px;
	margin-top: -1px;
	border: 1px solid rgb(5, 5, 5);
	padding-right: 5px;
	padding-top: 1px;
	width: 25px;
	float: left;
}

.hoveritem {
	margin-bottom: 1px !important;
}

.highlight {background-color: rgba(189, 195, 199,1.0) !important; }
.roundedtop {
	/*border-top-right-radius: 7px;
	border-top-left-radius: 7px;*/
}

.roundedbottom {
	/*border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;*/
}

.backlog-items a:hover {
	background-color: rgba(7,125,242, .0);
}

.committed-items {
	width: 300px; 
	min-height: 700px; 
	border: solid 1px #DCDCDC; 
	/*-moz-border-radius: 7px;
	border-radius: 7px; */
	background-color: rgba(163, 163, 160, .2);
	float: left;
}

.started-items {
	width: 300px; 
	min-height: 700px; 
	border: solid 1px #DCDCDC; 
	/*-moz-border-radius: 7px;
	border-radius: 7px; */
	background-color: rgba(163, 163, 160, .2);
	float: left;
}
.qa-items {
	width: 300px; 
	min-height: 700px; 
	border: solid 1px #DCDCDC; 
	/*-moz-border-radius: 7px;
	border-radius: 7px; */
	background-color: rgba(163, 163, 160, .2);
	float: left;
}




/*Hover view in list*/
.hoverview { 
	display: none; 
	width: 350px; 
	height: 100px; 
	border: solid 1px black; 
	position: absolute; z-index: 1; 
	background: rgba(236, 240, 241,1.0); 
	margin-top: -34px;
	padding: 5px 10px 1px 5px;
	margin-left: -25px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;

	}

.hoverview-background {
	height: 103px;
	margin-top: -99px;
}

.hoverview:before {
	content:"";
	position: absolute;
	right: 44%;
	top: 98px;
	width: 0;
	height: 0;
	border-top: 12px solid black;
	border-right: 20px solid transparent;
	border-left: 20px solid transparent;
}

.hoverview:after {
	content:"";
	position: absolute;
	right: 156px;
	top: 98px;
	width: 0;
	height: 0;
	border-top: 11px solid rgba(236, 240, 241,1.0);
	border-right: 18px solid transparent;
	border-left: 18px solid transparent;
}

.hoverviewitem {
	border: 1px solid rgba(139, 138, 138, 1);
	padding-left: 5px;
	padding-top: 5px;
	margin-bottom: 3px;
	background-color: rgba(255, 255, 255, 1);
}

/*Buttons*/

.button {
	width: 40px;
	height: 25px;
	border-radius: 5px;
	background-color: #4fbeba;
	color: rgba(236, 240, 241,1.0);
	padding: 8px 8px 8px 8px;
	transition: background-color 100ms linear;
}

.button:hover {
	background-color: #1ba5a0;
	text-decoration: none;
	color: rgba(236, 240, 241,1.0);
}

.button:visited {
	color: rgba(236, 240, 241,1.0);
}

/*Show Story View*/

.show-container {
	margin: auto;
	width: 800px;
}

.show-title {
	height: 40px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background: #3da8e3; /* Old browsers */
}

.show-title p {
	text-align: center;
	padding-top: 12px;
	color: white;
	font-size: 15px;
}

.show-content {
	margin-top: 0px;
	background: rgba(236, 240, 241,1.0);
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.show-content p {
	margin-left: 7px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 18px;
}

.show-buttons {
	padding-top: 7px;
}

.cog{
	height: 14px;
	-webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
   
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
   
  overflow: hidden;
}

.cog:hover {
	-webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform:rotate(90deg);
}

.cog-hover {
	display: inline;
	width: 65px;
	height: 100px;
	margin-top: 42px;
	background: rgba(236, 240, 241,1.0);
	border: solid 2px #aeb1b1;
	margin-left: 750px;
	position: absolute;
	padding-top: 4px; /* controls top spacing of links in cog */
	z-index: 2;
	border-radius: 5px;
}

.cog-hover:before {
	content:"";
	position: absolute;
	right: 34%;
	top: -12px;
	width: 0;
	height: 0;
	border-bottom: 12px solid #aeb1b1;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}

.cog-hover:after {
	content: "";
	position: absolute;
	right: 39%;
	top: -9px;
	width: 0;
	height: 0;
	border-bottom: 9px solid rgba(236, 240, 241,1.0);
	border-right: 7px solid transparent;
	border-left: 7px solid transparent;
}

.cog-item {
	color: black;
	padding-left: 10px;
}

.cog-item:hover, .cog-item:visited {
	color: black;
	text-decoration: none;
	background-color: rgba(236, 240, 241,1.0);
}

/*.cog-interior {
	width: 55px;
	height: 90;
	border-radius: 5px;
	background: rgba(236, 240, 241,1.0);
}*/








