/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 += require bootstrap/bootstrap
 */

/*modal form fields and text*/
.container {
	font-family: Georgia !important;
}

.wantfield { width: 400px !important;}
.becausefield { width: 525px !important;}
.titlefield { width: 200px !important;}
.audience {width: 100px !important;}
.status{
	margin-left: 30px;
}
.statuslabel{
	margin-left: 158px;
}

span { 
	font-weight: bold;
	font-family: Georgia;}

/*Items list - FULL VIEW*/

.items {
	width: 300px; 
	min-height: 700px; 
	border: solid 1px rgba(23,23,22,.3); 
	/*-moz-border-radius: 7px;
	border-radius: 7px; */
/*	background-color: rgba(163, 163, 160, .2);*/
	float: left;
	font-family: Georgia !important;
	}

.items ul {padding-left: 1px;}
.items a, .items a:hover, .items a:visited { 
	color: black;
}
.items a:hover {
	background-color: rgba(7,125,242, .0)
}

span a:hover {
	text-decoration: none;
}

.itemstyle {
	padding-top: 3px;
}

.header{
	background: #7abcff; /* Old browsers */
	background: -moz-linear-gradient(top,  #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
}

.listheader {
	padding-left: 5px;
	padding-top: 3px;
	/*font-weight: bold;*/
	color: white;
}
.list-items li {
	list-style: none; 
	background-color: rgba(236, 240, 241,1.0);
	margin-left: -1px;
	/*-moz-border-radius: 7px;
	border-radius: 7px;  */
	border-bottom: solid 1px #DCDCDC;
	height: 25px;
	font-family: Georgia;
	font-size: 16px;
	}

.pointVal { 
	margin-right: 10px;
	padding-left: 5px;
}

.hoveritem {
	margin-bottom: 1px !important;
}

.highlight {background-color: rgba(189, 195, 199,1.0) !important; }
.roundedtop {
	/*border-top-right-radius: 7px;
	border-top-left-radius: 7px;*/
}

.roundedbottom {
	/*border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;*/
}

.backlog-items a:hover {
	background-color: rgba(7,125,242, .0);
}

.committed-items {
	width: 300px; 
	min-height: 700px; 
	border: solid 1px #DCDCDC; 
	/*-moz-border-radius: 7px;
	border-radius: 7px; */
	background-color: rgba(163, 163, 160, .2);
	float: left;
}

.started-items {
	width: 300px; 
	min-height: 700px; 
	border: solid 1px #DCDCDC; 
	/*-moz-border-radius: 7px;
	border-radius: 7px; */
	background-color: rgba(163, 163, 160, .2);
	float: left;
}
.qa-items {
	width: 300px; 
	min-height: 700px; 
	border: solid 1px #DCDCDC; 
	/*-moz-border-radius: 7px;
	border-radius: 7px; */
	background-color: rgba(163, 163, 160, .2);
	float: left;
}




/*Hover view in list*/
.hoverview { 
	display: none; 
	width: 350px; 
	height: 100px; 
	border: solid 1px black; 
	position: absolute; z-index: 1; 
	background: rgba(236, 240, 241,1.0); 
	margin-top: -133px;
	padding: 5px 10px 1px 5px;
	margin-left: -25px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;

	}

.hoverview:before {
	content:"";
	position: absolute;
	right: 44%;
	top: 98px;
	width: 0;
	height: 0;
	border-top: 12px solid black;
	border-right: 20px solid transparent;
	border-left: 20px solid transparent;
}

.hoverview:after {
	content:"";
	position: absolute;
	right: 155px;
	top: 98px;
	width: 0;
	height: 0;
	border-top: 11px solid rgba(236, 240, 241,1.0);
	border-right: 18px solid transparent;
	border-left: 18px solid transparent;
}









