/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 += require bootstrap/bootstrap
 */

/*modal form fields and text*/
.wantfield { width: 400px !important;}
.becausefield { width: 525px !important;}
.titlefield { width: 200px !important;}
.audience {width: 100px !important;}

span { font-weight: bold;}